@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
body{
  margin:0 ;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background: #F2F6FF;
}
.navbar{
  height:4.5rem;
  background-color: white;
  border: 2px solid rgb(229, 227, 227);
  box-shadow: 1px 1px 2px grey;
  margin-top: 0;
  display: flex;
}
.logo{
  margin-left: 4rem;

}
.logo h1{
  background-image: linear-gradient(269deg,#0048ff,#0096ff),linear-gradient(#000,#000);
  color: #0084ff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-size: 24px; */
  font-size: 2.1em;
  font-weight: 900;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: -.9px;
  margin-top: 10px;
}
#story{
  font-family: Raleway,sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: italic;
  line-height: .8;
  letter-spacing: .9px;
  color: #000;
  position: absolute;
  left: 4rem;
  top: 3rem;
}
.navbar h4{
  margin-left: 4rem;
  font-size: 1rem;
  font-weight:400;
  margin-top: 1.2rem;
}
.new{
  display: flex;
}
.new p {
  width: 20rem;
  opacity: .6;
  font-family: Raleway,sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: .4px;
  /* text-align: left; */
  color: rgba(0,0,0,.6);
  margin-top: 1em;
  position: relative;
    left: 20rem;
}
.btnpress{
  width: 18%;
  color: white;
  border: none;
  margin-block:1rem ;
  background: linear-gradient(269deg,#0048ff,#0096ff);
padding: 10px;
border-radius: 8rem;
margin-left: 20rem;
cursor: pointer;
}
.ham{
  height: .3rem;
  width: 2rem;
  background-color: black;
  margin: 5px;
  border-radius: 5px;
  position: relative;
  right: -2rem;
  top: 1rem;
  display: none;
  cursor: pointer;
}
.container{
  margin-top:3rem;
  width: 75%;
  margin-inline: auto;
}
.container h2{
    font-family: Raleway,sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -.6px;
    text-align: left;
    color: #000;
}
.filter{
  font-size: .85em;
    font-weight: 600;
    margin-left: 0.5em;
}
.filter i{
  color: #0048ff;
  padding-right: .5rem;
}
.buttons{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
margin-inline: auto;
}
.btn{
  font-family: Raleway,sans-serif;
  background: none;
  margin-inline: .4rem;
  margin-block: .4rem;
  color: #0048ff;
  font-size: .75em;
  border:1px solid #0048ff;
  border-radius: 15px;
  cursor: pointer;
  padding: 6px 10px;
}
.active{
  color: white;
  background-color: #0048ff;
}
.main-container{
  width: 70%;
  margin-inline-start:10rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.content{
  width:calc(33.3% - 30px);
  height: auto;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 1em;
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 10%);
  border-radius: 5px;
  border: 1px solid rgba(0,168,255,.3);
  cursor: pointer;

}
.image{
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.title{
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.14;
  text-align: left;
  padding: .8rem;
  color: #000;
}
.date span{
  font-size: .9em;
  font-weight: 500;
  line-height: 2;
  color: #0096ff;
  padding: .8rem;
} 
.main-para{
padding: .8rem;
font-size: 15px;
font-weight: 400;
line-height: 1.43;
letter-spacing: .35px;
text-align: left;
color: grey;
}
.footer{
  margin-top: 2rem;
  background-color: #172146;
display: flex;
justify-content: space-between;
padding: 80px 16%;
    color: #fff;
}
.first{
  color: hsla(0,0%,100%,.5);
  font-weight: 500;
}
.sub-title{
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: .8rem;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
.navbar{
  width: 131%;
}
  .content{
  width: calc(50% - 20px);
}
.btnpress{
display: none;
}
.ham{
  display: block;
  left: 18rem;
}
.new p {
  display: none;
}
.footer{
  display: block;
  width: 100vw;
}
}


@media screen and (max-width: 720px){
  .content{
    width: calc(100% - 20px);
  }
  .ham{
    display: block;
    left: 20rem;
  }
  .new p {
    display: none;
  }
  .footer{
    display: block;
      width: 100vw;
    }
}
@media screen and (max-width: 400px){
  .footer{
    display: block;
    width: 125vw;
  }
}